Repository Mika215/hyf-website-group-2, pull requests merged in 2021-02, with the labels that each got.

#87 creating business-partners and become partner sections
  index.html
  style.css
Labels: css, html

#96 latest update of the business-partners section
  .vscode/settings.json
  index.html
  style.css
Labels: css, enhancement, html

#106 removing json file from git and adding gitignore file
  .gitignore
  .vscode/settings.json
Labels: enhancement
